
body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(https://cdn.wallpapersafari.com/69/12/NlfhiX.jpg);
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
    font-weight: bold;
}

.music-container {
    display: flex;
    margin: 5vw;
}
    
.player{
    display: flex;
    height: fit-content;
}
.wrapper{
    border: 1px solid transparent;
    padding: 30px;
    border-radius: 20px;
    background: rgba(253, 253, 253, 0.589);
    backdrop-filter: blur(20px);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.details {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.track-art {
    margin-left: -35px!important;
    background-repeat: no-repeat;
    background-position: center;
    margin: 25px;
    height: 200px;
    width: 180px;
    box-shadow: 0px 2px 5px #bbbbbb;
}

.cover-cd {
    position: absolute;
    margin: 10px 70px!important;
    height: 180px;
    width: 180px;
    z-index: -1;
}

.rotate {animation: rotation 8s infinite linear;}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

.now-playing {
    display: flex;
    justify-content: center;
    font-size: 1rem;
}

.track-artist {
    margin-top: 5px;
    font-size: 1.5rem;
}

.track-title {font-size: 2.5rem;}

.time{
    display: flex;
    justify-content: space-between;
}

.current-time,
.total-duration {padding: 10px;}

.seek_slider {
    appearance: none;
    height: 5px;
    width: 100%;
    background: #be69f0;
}

.seek_slider::-webkit-slider-thumb {
    appearance: none;
    width: 15px;
    height: 15px;
    background: white;
    border: 4px solid #56255C;
    cursor: grab;
    border-radius: 100%;
}

.seek_slider:hover {opacity: 1.0;}

.buttons {
    display: flex;
    justify-content: center;
    color: #61094b;
    flex-direction: row;
    align-items: center;
}

.playpause-track,
.prev-track,
.next-track {
    padding: 25px;
    opacity: 0.6;
    transition: opacity .2s;
}

.playpause-track:hover,
.prev-track:hover,
.next-track:hover {
    opacity: 1.0;
}

.side-panel {
    margin: -20px 5vw;
    height: fit-content;
    color: white;
} 

.btn-pannel {margin: 3vw 0 1vw;}

.btn-pannel button {
    margin: 0 5vw 0 0;
    border: none;
    background: none;
    color: white;
    font-size: 1.2vw;
    font-weight: bold;
    opacity: 0.7;
}

.btn-pannel button:focus {opacity: 1.0;}

#lyrics,
#related-artist {display: none;}

#lyrics {
    text-decoration: none;
    height: 400px;
    overflow-y: auto;
    padding: 10px;
    -webkit-mask-image: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 30%, rgba(0,0,0,1) 70%, rgba(0,0,0,0) 100%);
    mask-image: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 30%, rgba(0,0,0,1) 70%, rgba(0,0,0,0) 100%);
}

#lyrics::-webkit-scrollbar {display: none;}

#lyrics p a{
    color: white;
    font-size: 1vw;
    text-decoration: none;
}

.album-pannel,
.artist-pannel {
    display: flex;
    width: 60vw;
    overflow-x: hidden; 
    -webkit-mask-image: linear-gradient(to right, black 90%, transparent 100%);
    mask-image: linear-gradient(to right, black 90%, transparent 100%);
    float:left;
    cursor: grab;
}

.album-pannel div,
.artist-pannel div{
    width: 350px;
    padding: 0 2vw 0 0;
    float:left;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    cursor: grab;
}

.album-pannel h3,
.artist-pannel h3{font-weight: lighter;}

.album-pannel span {font-style: italic;}

.album-pannel div:hover,
.artist-pannel div:hover{transform: scale(1.1);}

.album-pannel a,
.artist-pannel a{cursor: grab;}

    
    

    

